* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  background: linear-gradient(#e66465, #9198e5);
  background-size: 200% 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: background-flow 2s ease infinite alternate;
}

@keyframes background-flow {
  to {
    background-position-x: 100%;
    background-position-y: 100%;
  }
}
